@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  width: 100%;
  height: 100%;
}

.notificationCard {
  background-color: crimson;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  color: white;
}
.notificationCard h1 {
  font-size: 25px;
}
.notificationCard p {
  font-size: 13px;
  text-decoration: line-through;
}